@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.head-line {
  padding: 50px 0 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.head-line p {
  margin: 0 auto;
  padding: 2px;
  text-transform: uppercase;
}

.head-line p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}

.head-line p:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  color: #6b6b6b;
}

#gap {
  height: 500px;
}

#privacy-score-circle {
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.header {
  background-image: url("../images/citynight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 0 auto;
}

.header nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  list-style: none;
  background-color: #3c3c3c;
  margin: 0;
}

.header nav ul li {
  padding: 10px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: #9400ce;
  transition: .2s ease-in-out;
}

.header .name {
  margin-left: 62%;
  padding-top: 35vh;
  color: #fff;
}

.header .name h1 {
  font-size: 36px;
}

.header .name h2 {
  font-size: 28px;
}

.header .name h3 {
  font-size: 20px;
}

.about {
  background-color: #3c3c3c;
}

.about .head-line p:nth-child(1) {
  color: #fff;
}

.about .about-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.about .about-content .img {
  border-radius: 10px;
}

.about .about-content img {
  width: 250px;
  height: 250px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.about .about-content .about-txt {
  color: #fff;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  padding: 0 25px 0 25px;
}

.tech-ico {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech-ico .fab {
  margin: 50px 90px 50px 90px;
}

.tech-ico .fab p {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.tech-ico .fa-html5 {
  font-size: 120px;
  position: relative;
}

.tech-ico .fa-html5:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 95%;
  color: #E44D26;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-css3-alt {
  font-size: 120px;
  position: relative;
}

.tech-ico .fa-css3-alt:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 90%;
  color: #1F62AE;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-js-square {
  font-size: 120px;
  position: relative;
}

.tech-ico .fa-js-square:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60%;
  color: #FDD835;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-react {
  font-size: 120px;
  position: relative;
}

.tech-ico .fa-react:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 20%;
  color: #00D8FF;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-sass {
  font-size: 80px;
  position: relative;
}

.tech-ico .fa-sass:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 70%;
  color: #CC6699;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-sass p {
  padding-top: 39px;
}

.tech-ico .fa-node-js {
  font-size: 80px;
  position: relative;
}

.tech-ico .fa-node-js:after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 20%;
  color: #83CD29;
  animation: filler 6s ease-in-out;
}

@keyframes filler {
  0% {
    width: 0;
  }
}

.tech-ico .fa-node-js p {
  padding-top: 39px;
}
/*# sourceMappingURL=style.prefixed.css.map */